    <!--CSS-->
    .row_margin {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    html, body {
        height: 95%;
        margin: 0;
        background-color: #fbfbfb;
    }

    .clsTab {
        padding: 0rem;
        cursor: pointer;
    }

    .clsTab:hover {
        background-color: #f3f3f3;
    }

    .cardBody {
        padding: 0.25rem;
        background-color: #fbfbfb;
    }

    .btn-link {
        text-decoration: none !important;
        color: black;
    }

    .btn-link:hover {
        color: black !important;
    }

    .roundBtn {
        width: 50px;
        height: 50px;
        text-align: center;
        padding: 16px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 25px;
        margin-left: 10px
    }

    canvas {
        position: absolute;
        background: #FFFFF;
		    background-color: #f6f6f66e;
    /* background-image: linear-gradient(#434343, #282828); */
    }
.upper-canvas {
	 background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, RGBA(136,136,140,0.15) 25%, RGBA(136,136,140,0.15) 26%, transparent 27%, transparent 74%, RGBA(136,136,140,0.15) 75%, 
	RGBA(136,136,140,0.15) 76%, transparent 77%, transparent), 
	linear-gradient(90deg, transparent 24%, RGBA(136,136,140,0.15) 25%, RGBA(136,136,140,0.15) 26%, transparent 27%, transparent 74%, RGBA(136,136,140,0.15) 75%, 
	RGBA(136,136,140,0.15) 76%, transparent 77%, transparent);
  height:100%;
  background-size:23px 23px;
}
.canvasCardCss{
	margin-left: 2px;    
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    border: 0px solid rgba(0, 0, 0, .125);
	}
    .dropdown-divider {
        margin: 0rem;
    }

    .dropdown-menu {
        padding: 0rem;
    }

    .dropdown-item:hover {
        background-color: #e6e8ec;
    }

    .modal-header {

        padding: 1rem;
        background-color: #F2F2F2;

    }

    .modal-dialog {
        max-width: 55%;
    }

    .leftPanelBtnCls {
        padding: 0rem;
        border-color: #d3eaff;
    }

    .leftPanelBtnCls > img {
        width: 40px;
        height: 40px;
    }
       /* #btnUseCase:active{
            background-color: #28a745;
            }*/
            .carousel-indicators li {
                background-color: rgba(60, 41, 41, 0.5);
            }
            .carousel-indicators .active {
                background-color: #9c2323;
            }
            /* Previous and next arrow properties */ 

            .carousel-control-next:after
            {
               content: '>';
               font-size: 55px;
               color: black;
           }

           .carousel-control-prev:after {
              content: '<';
              font-size: 55px;
              color: black;
          }          

          /* Load File */
          #loadFile{
            text-decoration:none;
        }
        #loadFileInput{
            display:none
        }